@media (max-width: 767.98px) 
{ 
    .main
    {
        width: 304px;
    }
    .title 
    {
        margin-top: 30px;
    }
    .title .first
    {
        font-size: 19px;
    }
    .title .second span:nth-child(1)
    {
        font-size: 16px;
    }
    .title .second span:nth-child(2)
    {
        font-size: 12px;
    }
    .main .box
    {
        display: grid;
        grid-template-columns: 60px 174px 50px;
        grid-template-rows: auto 60px auto;
        padding: 7px 10px 10px 10px;
    }

    .box .image
    {
        grid-column: 1;
        grid-row: 2;
    }
    .box .content.col1
    {
        grid-column: 2;
        grid-row: 2;
    }
    .box .content.col2
    {
        grid-row: 3;
        grid-column: 1/3;
    }
    .box .btn
    {
        grid-column: 3;
        grid-row: 2;
    }
    .box .image img 
    {
        margin: 19px 0px;
        width: 50px;
        height: 33px;
    }

    .box .content.col1 .name 
    {
        font-size: 14px;
    }

    .box .content.col2 span 
    {
        font-size: 12px;
        padding: 4px 15px 6px 15px;
    }
    .box .btn button 
    {
        font-size: 12px;
        padding: 8.5px 8px;
        
    }
    .review span:nth-child(2) 
    {
        margin: 0px 7px;
    }
    #load
    {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #boxList
    {
       margin-bottom: 60px; 
    }
    
    .box.new-box .n 
    {
        grid-area:unset;
    }

}



@media (min-width:2000px)
{
    #actions
    {
        right: 25%;
    }
}

@media (min-width:1700px) and (max-width: 1999.8px)
{
    #actions
    {
        right: 20%;
    }
}

@media (min-width:1000px) and (max-width:1200px)
{
    #actions
    {
        right: 4%;
    }
}

@media (max-width: 999.98px)
{
    .main
    {
        position: relative;
    }
    #actions
    {
        right: 10px;
        bottom: 0;
        top: unset;
        display: none;
    }
    #popupBox svg:nth-child(1)
    {
        display: none;
    }
    #popupBox svg:nth-child(2)
    {
        display: block;
        margin: 10px;
    }
    #popupBox svg:nth-child(2) .g,#popupBox svg:nth-child(2) rect.f
    {
        fill: none;
    }
    #popupBox
    {
        height: 197.5px;
        right: 0;
        margin-top: 11px;
    }
    #popupBox:before
    {
        width: 7px;
        height: 7px;
        bottom: 97.5%;
        left: 57px;
    }
    #popupBox #success 
    {
        top: -65px;
    }
    
}