body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color:#F9FAFA ;
}

.rectangle
{
    background-color:#0F0F0F;
    box-shadow: 0px 2px 5px #00000029;
    height: 10px;
    width:100%;
}

.main
{
    width: 700px;
    margin:auto;
}

.title
{
    margin-top:50px;
    color: #404040;
}

.title .first
{
    font-weight: bold;
    font-size: 28px;
}

.title .second
{
    margin: 20px 0;
    display: flex;
}

.title .second span:nth-child(1)
{
    font-weight: bold;
}

.title .second span:nth-child(2)
{
    float:right;
    font-size: 14px;
    align-self: center;
    margin-left: auto;
}

.box
{
    background-color:#FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 6px #00000029;
    margin: 10px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 110px 243px 237px 110px;
    grid-template-rows: 33px 63px;
}
.box.new-box .n 
{
    order: 2;
    grid-area: 1/2/2/3;
    align-self: end;
}
.box .image
{
    order: 1;
    grid-area: 1/1/3/2;
}

.box .image  img
{
    margin: 23px 20px;
}
.box.new-box .content.col1
{
    order: 3;
    grid-area: 2/2/3/3;
    align-self: baseline;
}
.box .content.col2
{
    order: 4;
    grid-area: 1/3/3/4;
}
.box .btn
{
    order: 5;
    grid-area: 1/4/3/5;
}

.box .content.col1
{
    grid-area: 1/2/3/3;
    align-self: unset;
}


.box .content.col1 div
{
    margin: 6px 0;
}

.box .content.col1 .name
{
    color: #429BF4;
    font-size: 15px;
}

.review
{
    display:flex;
}

.review img
{
    width: 20px;
    height: 14px;
    border-radius: 1.5px;
    justify-content: center;
    align-items: center;
}

.review span
{
    color: #8F8F8F;
    font-size: 12px;
    
}

.review span:nth-child(2) 
{
    margin: 0 10px;
}

.review .stars img
{
    width: 10px;
    height: 10px;
    margin: 0 1px;
}

.box .content.col2 div
{
    margin: 10px 0;
}

.box .content.col2 a 
{
    text-decoration: none;
}



.box .content.col2 span
{
    background-color: #F3F3F3;
    padding: 4px 20px;
    font-size: 13px;
    border-radius: 13px;
    color: #5E6166;
}

.box .btn
{
    flex: 1.3;  
    display: flex; 
}

.box .btn button:hover
{
    background-color: #3082D4 !important;
}

.box .btn button
{
    margin: auto;
    color: #FFFFFF;
    background-color: #429BF4;
    border: none;
    border-radius: 4px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    padding: 8px 20px;

}

.box .btn button:focus
{
    outline: none;
}



.new
{
    color:#68CB6C;
    text-transform: uppercase;
    font-size: 11px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 3px;
    font-weight: bold;
    padding: 2px 3px ;
}

.load-more
{
    text-decoration: none;
}

#load
{
    color: #429BF4;
    font-size: 14px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #429BF4;
    border-radius: 23px;
    padding: 13px 0;
    margin: 15px 0;
}

#load:hover
{
    background-color: #429BF4 !important;
    color: #FFFFFF !important;
}

.main .box:nth-child(1) a span:hover
{
    background-color: #DAECFE !important;
}


.box
{
    position: relative;
}

#actions
{
    position: absolute;
    top: 160px;
    right: 12%;
}

#actions a
{
    text-transform: uppercase;
    background-color: #616161;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: 11px 23px;

}

/* popup */
.popup
{
    position: relative;
}

#popupBox
{
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    width: 304px;
    height: 221px;
    border-radius: 4px;
    left: 0;
    right: -115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}

#popupBox:before {
    background-color: #ffffff;
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 9px;
    height: 9px;
    bottom: 97%;
    left: 50%;
    z-index: -1;
    box-shadow: 0px -2px 2px -2px #00000029;
}

#popupBox svg
{
    margin: 16px 12px 16px 20px;
}
#popupBox svg .g 
{
    fill: #878ca4;
}
#popupBox svg g.copy
{
    position: relative;
}
#popupBox #success 
{
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    height: 50px;
    width: 227px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    top: -18px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#popupBox #success:after
{
    left: 113px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 23px;
    margin-left: -23px;
    z-index: 2;
    bottom: -33px;
}
#popupBox #success:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    bottom: -6px;
    z-index: 1;
    box-shadow: 0px 1px 6px #00000029;
  }
#success p
{
    color: #5E6166;
    font-size: 13px;
    align-self: center;
}

#success img
{
    margin: 0 3px;
}

#popupBox svg:nth-child(2)
{
    display: none;
}

#popupBox, #success
{
    display: none;
}